apiVersion: lexicore.io/v1
kind: SyncTarget
metadata:
  name: dovecot-mail
spec:
  sourceRef: corporate-ldap
  operator: dovecot
  dryRun: false
  transformers:
    - name: selector-mail-users
      type: selector
      config:
        groupSelector: cn=mail-users,ou=groups,dc=example,dc=com
    - name: constant-attributes
      type: constant
      config:
        mappings:
          domain: example.com
          maildir: /var/mail/%u
  config:
    dsn: postgres://dovecot:password@localhost/dovecot?sslmode=disable
    schema: public
